
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,300;1,400&display=swap');

$pink: #F16D7F;
$white: #FFFFFF;
$header-grey: #222222;
$black: #000000;
$footer-grey: #222224;
$product-bgd-white: #EAEAEA;
$drop-wown-menu-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);

@mixin registration-loyalty-font {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: $black;
}
@keyframes opacity {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.page {
    display: grid;
    grid-template-rows:min-content 1fr min-content;
}
.wrap {
    width: 1140px;
    margin: 0 auto;
}
.img-hover-transform {
    transition: 0.3s;
}
.img-hover-transform:hover {
    transform: scale(1.2);
}
.header {
    background: $header-grey;
    padding: 18px 0;
    position: relative;
    z-index: 2;

    &-wrap {
        display: flex;
        justify-content: space-between;
    }
    &-logo-link {
        margin-right: 41px;
    }
    &-right {
        display: flex;
        align-items: center;
    }
    &-profile-link {
        margin: 0 33px;
    }
    &-burger-nav {
        position: absolute;
        top: 78px;
        height: calc(100vh - 78px);
        right: 0;
        z-index: 12;
        box-shadow: $drop-wown-menu-shadow;
    }
}
.nav {
    width: 232px;
    padding: 34px;
    background-color: $white;
    &-wrap {
        position: relative;
    }
    &-close {
        position: absolute;
        right: -20px;
        top: -25px;
    }
    &-title {
        font-family: Lato;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        color: $black;
    }
    &-heading {
        margin-top: 20px;
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: $pink;
    }
    &-link {
        text-decoration: none;
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: #6F6E6E;
    }
    &-item {
        margin-bottom: 11px;
        margin-left: -20px;
    }
    &-list {
        list-style-type: none;
    }
}
#burger {
    display: none;
}
#burger:checked~.header-burger-nav {
    display: block;
}
#burger:not(checked)~.header-burger-nav {
    display: none;
}
.promo {
    background: #F1E4E6;
    margin-bottom: 65px;
    &-wrap {
        height: 764px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        background-image: url(../img/promo_bgd.png);
        background-repeat: no-repeat;
        background-position: -225px bottom;
    }
    &-title {
        border-left: 12px solid $pink;
        padding: 10px 0 10px 16px;
        margin-top: -70px;
        font-family: Lato;
        font-style: normal;
        font-weight: 900;
        font-size: 48px;
        line-height: 44.4px;
        color: $header-grey;
        animation: opacity 5s;
    }
    &-title2 {
        font-weight: 700;
        font-size: 37px;
        font-style: normal;
    }
}
.title-pink {
    color: $pink;
}
.categories {
    margin-bottom: 96px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &-item {
        width: 360px;
        height: 260px;
        position: relative;
        text-align: center;
    }
    &-item-title {
        position: absolute;
        top: 35%;
        width: 100%;
        text-align: center;
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        color: $white;
    }
    &-item-title2 {
        font-weight: 700;
        font-size: 24px;
        line-height: 28.8px;      
    }
    &-item-1 {
        background-image: url(../img/categories-item-1.jpg);
        background-repeat: no-repeat;
    }
    &-item-2 {
        background-image: url(../img/categories-item-2.jpg);
        background-repeat: no-repeat;
    }
    &-item-3 {
        background-image: url(../img/categories-item-3.jpg);
        background-repeat: no-repeat;
    }
    &-item-long {
        background-image: url(../img/categories-item-4.jpg);
        background-repeat: no-repeat;
        position: relative;
        text-align: center;
        width: 1140px;
        height: 180px;
        margin-top: 30px;
    }
}
.products {
    text-align: center;
    box-sizing: border-box;
    &-heading {
        margin-bottom: 6px;
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 30px;
        line-height: 36px;
        color: $header-grey;
    }
    &-paragraph {
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: #9F9F9F;
    }
    &-list {
        list-style-type: none;
        margin-top: 48px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    &-item {
        width: 360px;
        background: #F8F8F8;
        padding-bottom: 20px;
        margin-bottom: 30px;
        margin-right: 30px;
        text-align: left;
        &:nth-child(3n) {
            margin-right: 0px;
        }
    }
    &-item-heading {
        margin-left: 18px;
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 16px;
        color: $black;
    }
    &-item-paragraph {
        margin: 0 28px 0 18px;
        font-family: Lato;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #5D5D5D;
    }
    &-item-img {
        position: relative;
    }
    &-overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        background: rgba(58, 56, 56, 0.86);
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: 0.6s;
    }
    &-button {
        display: inline-block;
        padding: 14.5px 38.5px 13.5px 38.5px;
        border: 1px solid $pink;
        margin-top: 18.5px;
        text-decoration: none;
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        background-color: $white;
        color: $pink;
        transition: 0.4s;
    }
    &-button:hover {
        transform: scale(1.07);
        background-color: $pink;
        color: $white;
    }
}
.products-item-img:hover .products-overlay {
    opacity: 1;
}
.product-price {
    margin-left: 18px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: $pink;
}
.product-link {
    text-decoration: none;
}
.product-add {
    background-color: transparent;
    color: white;
    border: 1px solid #FFFFFF;
    padding: 13px 10px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
}
.product-add img {
    margin-right: 11px;
}
.advantages {
    background: $footer-grey;
    height: 341px;
    margin-top: 109px;
    &-wrap {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding: 103px 0;
    }
    &-heading {
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 19.96px;
        line-height: 24px;
        color: $white;
    }
    &-paragraph {
        padding: 0 30px;
        font-family: Lato;
        font-style: normal;
        font-weight: 300;
        font-size: 13.972px;
        line-height: 17px;
        text-align: center;
        color: $white;
    }
}
.advantage-item {
    text-align: center;
    width: 360px;
}
.feedback {
    height: 448px;
    background-image: url(../img/feedback-bgd.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #F3F3F3;
    &-wrap {
        display: flex;
    }
}
.contact-face {
    width: 360px;
    margin-top: 95px;
    text-align: center;
    &-paragraph {
        margin-top: 25px;
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        color: $footer-grey;
    }
}
.italic {
    font-style: italic;
}
.subscribe {
    width: 557px;
    text-align: center;
    margin-left: 230px;
    &-heading {
        margin-top: 150px;
        font-family: Lato;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 31px;
        text-align: center;
        color: $footer-grey;
    }
    &-heading2 {
        font-weight: 400;
        font-size: 18px;
        line-height: 30.1px;
    }
    &-form {
        display: flex;
        margin-left: 102px;
    }
    &-input {
        width: 256px;
        height: 49px;
        padding-left: 22px;
        background: #E1E1E1;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        border-style: none;
    }
    &-button {
        width: 100px;
        height: 49px;
        border-style: none;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
        background: $pink;
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        color: $white;
    }
    &-button:hover {
        color: $pink;
        background: $white;
        transition: 0.4s;
    }
}
.footer {
    background: $footer-grey;
    height: 79px;
    display: flex;
    align-items: center;
    &-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.rights {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: $white;
}
.social {
    display: flex;
}
.social a {
    color: $black;
    margin-right: 7.3px;
    text-decoration: none;
    width: 32px;
    height: 32px;
    background-color: $white;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}
.social a:hover {
    color: $white;
    background-color: $pink;
    transform: scale(1.2);
}
.bread-crumbs {
    margin-bottom: 38px;
    background: #F8F3F4;;
    height: 148px;
    display: flex;
    align-items: center;
    &-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &-heading {
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 29px;
        color: $pink;
    }
    &-list li a {
        text-decoration: none;
        font-family: Lato;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #636363;
    }
    &-list {
        display: flex;
        list-style: none;
    }
    &-link-current {
        color: $pink !important;
        font-weight: 700 !important;
    }
}
.products-sorting {
    margin-bottom: 110px;
    position: relative;
    &-details {
        background: $white;
        z-index: 11;
        padding-top: 13px;
        margin-top: -10px;
    }
    &-details[open] {
        position: absolute;
        width: 360px;
        box-shadow: $drop-wown-menu-shadow; 
    }
    &-details[open]~.products-sorting-filter {
        color: pink; 
    }
    &-filter {
        display: flex;
        outline: 0;
        outline-offset: 0;
        font-family: Lato;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: $black;

    }
    &-filter::-webkit-details-marker {
        display: none;
    }
    &-filter h3 {
        margin: 0 11px;
        font-family: Lato;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: $black;
    }
    &-criterias {
        display: flex;
        align-items: flex-start;
        position: absolute;
        right: 390px;
       }
   
    &-checkbox {
        display: flex;
        flex-direction: column;
        background: $white;
        padding: 0 10px 10px 10px;
        z-index: 10;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        color: #6F6E6E;
    }
    &-checkbox[open] {
        width: 79px;
        box-shadow: $drop-wown-menu-shadow; 
    }
    &-checkbox-summary {
        display: flex; 
        align-items: center;
        margin-bottom: 10px;
        outline: 0;
        outline-offset: 0;
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: #6F6E6E;
    }
    &-checkbox-summary i {
        margin-left: 10px;
    }
    &-checkbox-summary::-webkit-details-marker {
        display: none;
    }
}
.products-filter-drop-down {
    margin-right: 27px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
    background: $white;
    border-style: none;
}
.products-filter-drop-down i {
    margin-left: 10px;
}
.list-style-none {
    list-style: none;
}
.burger_level1 {
    display: block;
    padding: 11px;
    margin-left: -28px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
    border-bottom: 1px solid #EBEBEB;
    border-left: 5px solid $pink;;
}
.burger_level2 {
    display: block;
    margin-left: -34px;
    padding: 5px;
    text-decoration: none;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
}
.page-nav {
    display: flex;
    justify-content: center;
}
.page-nav ul {
    list-style: none;
    border: 1px solid #EBEBEB;
    padding: 11.5px 14.5px 12.5px 15px;
}
.page-nav ul li {
    margin-right: 12px;
    display: inline;
}
.page-nav ul li a {
    text-decoration: none;
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #DADADA
}
.product-photos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #F7F7F7;
    margin-top: -38px;
    padding-bottom: 30px;
    padding-top: 11px;
    z-index: 1;
}

.product-info {
    width: 1140px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 129px;
    text-align: center;
    padding: 65px 0;
    border: 1px solid $product-bgd-white;
    margin-top: -64px;
    background-color: $white;
    z-index: 2;
    &-h4 {
        font-family: Lato;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: $pink;
    }
    &-hr-pink {
        background: $pink;
        height: 3px;
        width: 63px;
        border: none;
    }
    &-h3 {
        margin-top: 12px;
        margin-bottom: 48px;
        font-family: Lato;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 22px;
        color: #4D4D4D;
    }
    &-paragraph {
        max-width: 555px;
        margin: 0 auto;
        font-family: Lato;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        color: #5E5E5E;
    }
    &-price {
        margin-top: 32px;
        font-family: Lato;
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
        line-height: 29px;
        color: $pink;
    }
    &-hr-grey {
        margin-top: 65px;
        margin-bottom: 65px;
        background: $product-bgd-white;
        height: 1px;
        width: 641px;
        border: none;
    }
}
.add-to-card {
    position: relative;
    margin-top: 49px;
    border: 1px solid $pink;
    width: 211px;
    height: 47.4px;
    background-color: $white;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: $pink;
}
.add-to-card svg {
    position: absolute;
    left: 23.5px;
}
.add-to-card:hover {
    color: $white;
    background-color: $pink;
    transform: scale(1.2);
}
.products-margin-bottom {
    margin-bottom: 128px;
}
.cart {
    margin-bottom: 128px;
    padding-top: 96px;
    display: flex;
    justify-content: space-between;
    &-product {
        position: relative;
        width: 652px;
        height: 306px;
        display: flex;
        box-shadow: 0 10px 21px -2px rgba(0,0,0,0.21);
        margin-bottom: 40px;
    }
    &-product img {
        height: 100%;
        object-fit: cover;
    }
    &-product-h2 {
        width: 200px;
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 29px;
        color: $header-grey;
    }
    &-product-paragraph {
        margin-top: 42px;
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 26px;
        color: #575757;
    }
    &-product-info {
        width: 262px;
        padding-top: 5px;
        padding-left: 31px;
    }
    &-product button {
        position: absolute;
        top: 28px;
        right: 22px;
        background-color: $white;
        border-style: none;
    }
    &-product-paragraph input {
        width: 44px;
        border: 1px solid #EAEAEA;
        margin-left: 24px;
        text-align: center;
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        color: #656565;
    }
    &-products-list-buttons {
        display: flex;
        justify-content: space-between;
        margin-top: 72px;
    }
    &-products-list-button {
        border: 1px solid #A4A4A4;
        width: 234px;
        text-decoration: none;
        text-align: center;
        padding-top: 16px;
        padding-bottom: 16px;
        background-color: $white;
        font-family: Lato;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: $black;
        transition: 0.3s;
        text-transform: uppercase;
    }
    &-products-list-button:hover {
        transform: scale(1.2);
        background-color: $pink;
    }
    &-checkout {
        width: 360px;
    }
    &-shipping-address h3 {
        margin-bottom: 20px;
        font-family: Lato;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        color: $header-grey;
    }
    &-shipping-address input {
        width: 93%;
        height: 44px;
        margin-bottom: 21px;
        padding-left: 17px;
        border: 1px solid #A4A4A4;
        font-family: Lato;
        font-style: normal;
        font-weight: 300;
        font-size: 13px;
        line-height: 16px;
        color: #B1B1B1;
    }
    &-shipping-address button {
        padding: 10px 15px;
        background: $white;
        border: 1px solid #A4A4A4;
        font-family: Lato;
        font-style: normal;
        font-weight: 300;
        font-size: 11px;
        line-height: 13px;
        color: #4A4A4A;
        transition: 0.3s;
    }
    &-shipping-address button:hover {
        transform: scale(1.1);
    }
    &-total-price {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 55px;
        background: #F5F3F3;
        padding: 39px 0 42px 0;
    }
    &-total-price h4 {
        margin-right: 34px;
        text-align: right;
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 11px;
        line-height: 13px;
        color: #4A4A4A;
    }
    &-total-price h3 {
        margin-right: 34px;
        text-align: right;
        font-family: Lato;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        color: $header-grey;
    }
    &-total-price hr {
        color: #E2E2E2;;
        width: 275px;
        margin-top: 21px;
        margin-bottom: 17px;
    }
    &-total-price button {
        width: 273px;
        margin: 0 auto;
        background: $pink;
        color: $white;
        padding-top: 15px;
        padding-bottom: 15px;
        border-style: none;
        font-family: Lato;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        transition: 0.3s;
    }
    &-total-price button:hover {
        background: $white;
        color: $pink;
        transform: scale(1.1);
    }
}
.registration {
    margin-top: 64px;
    margin-bottom: 96px;
    display: flex;
    justify-content: space-between;
    &-form {
        width: 360px;
    }
    &-form h3 {
        font-family: Lato;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        color: $header-grey;
    }
    &-form-text-field {
        width: 93%;
        height: 44px;
        margin-bottom: 21px;
        padding-left: 17px;
        border: 1px solid #A4A4A4;
        font-family: Lato;
        font-style: normal;
        font-weight: 300;
        font-size: 13px;
        line-height: 16px;
        color: #B1B1B1;
    }
    &-form-radio {
        margin-right: 20px;
        margin-left: 10px;
        font-family: Lato;
        font-style: normal;
        font-weight: 300;
        font-size: 11px;
        line-height: 13px;
        color: $black;
    }
    &-form-gender {
        margin-bottom: 33px;
    }
    &-form p {
        margin-top: -6px;
        font-family: Lato;
        font-style: normal;
        font-weight: 300;
        font-size: 13px;
        line-height: 16px;
        color: #B1B1B1;
    }
    &-form button {
        margin-top: 39px;
        padding-top: 16px;
        padding-bottom: 17px;
        text-align: center;
        border-style: none;
        width: 167px;
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: $white;
        background: $pink;
        transition: 0.3s;
    }
    &-form button svg {
        margin-left: 20px;
    }
    &-form button:hover {
        transform: scale(1.2);
    }
    &-loyalty {
        width: 652px;
    }
    &-loyalty h2 {
        font-family: Lato;
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
        line-height: 29px;
        color: $black;
    }
    &-loyalty p {
        @include registration-loyalty-font;
    }
    &-loyalty ul {
        padding-left: 30px;
        list-style: url(../img/registration-list-marker.png);
    }
    &-loyalty li {
        list-style-type: none;
        margin-bottom: 16px;
        padding-left: 15px;
        @include registration-loyalty-font;
    }
}

@media (max-width: 1139px) {
    .wrap {
        max-width: 735px;
    }
    .promo {
        margin-bottom: 20px;
        &-wrap {
        height: 368px;
        background-size: 380px;
        background-position: -25px bottom;
        }
        &-title {
            line-height: 29px;
            margin-top: 0px;
        }
        &-title2 {
            font-size: 24px;
        }
    }
    .categories {
        margin-bottom: 154px;
        &-item {
            width: 232px;
            height: 168px;
        }
        &-item-long {
            width: 100%;
            height: 116px;
            margin-top: 30px;
        }
    }
    .products-button {
        margin-top: 0px;
    }
    .advantages {
        margin-top: 65px;
    }
    .advantages {
        height: 610px;
    }
    .advantages-wrap {
        padding: 48px 0;
        flex-direction: column;
        align-items: center;
    }
    .advantage-item {
        margin-bottom: 30px;
    }
    .feedback {
        height: 693px;
        background-size: cover;
        background-position: -430px;
        &-wrap {
            flex-direction: column;
            align-items: center;
        }
    }
    .subscribe {
        text-align: center;
        margin-left: 0px;
        &-heading {
            margin-top: 75px;
        }
    }
    .contact-face {
        margin-top: 53px;
    }
    .products-sorting-criterias {
        right: 0px;
    }
    .products-item {
        margin-bottom: 15px;
        margin-right: 15px;
        &:nth-child(3n) {
            margin-right: 15px;
        }
        &:nth-child(2n) {
            margin-right: 0px;
        }
    }
    .product-photos {
        height: 624px;
    }
    .product-photos img {
        height: 624px;
    }
    .product-info {
        width: 100%;
        margin-top: 0;
        border-left: none;
        border-right: none;
    }
    .cart {
        flex-direction: column;
        padding-top: 59px;
        margin-top: -40px;
        &-product {
            width: 100%;
        }
        &-products-list-buttons {
            justify-content: space-evenly;
            margin-bottom: 64px;
        }
        &-products-list-button {
            text-transform: capitalize;
        }
        &-checkout {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }
        &-shipping-address {
            width: 360px;
        }
        &-total-price {
            width: 360px;
        }
    }
    .registration {
        margin-top: 40px;
        
        &-loyalty {
            width: 354px;
        }
        &-loyalty h2 {
            font-size: 16px;
            line-height: 19px;
        }
        &-loyalty p {
            font-size: 16px;
            line-height: 19px;
        }
        &-loyalty li {
            font-size: 16px;
            line-height: 19px;
        }
    }
}
@media (max-width: 767px) {
    .wrap {
        max-width: 375px;
    }
    .header-profile-link {
        display: none;
    }
    .header-cart-link {
        display: none;
    }
    .promo {
        margin-bottom: 64px;
        &-wrap {
        height: 363px;
        background-image: none;
        justify-content: center;
        }
        &-title {
            padding: 5px 0 5px 15px;
            font-size: 38px;
        }
        &-title2 {
            font-size: 20px;
        }
    }
    .categories {
        margin-bottom: 64px;
        justify-content: center;
        &-item {
            width: 343px;
            height: 247px;
            margin-bottom: 32px;
        }
        &-item-long {
            width: 100%;
            height: 111px;
            margin-top: 0px;
            background-position: center;
        }
    }
    .products {
        &-heading {
            margin-bottom: 0px;
        }
        &-paragraph {
            line-height: 6px;
        }
        &-list {
            margin-top: 64px;
            justify-content: center;
        }
    }
    .advantages {
        margin-top: 63px;
    }
    .feedback {
        height: 550px;
    }
    .footer {
        height: 143px;
        padding-bottom: 9px;
    }
    .footer-wrap {
        justify-content: center;
        flex-direction: column-reverse;
    }
    .social {
        margin-top: 43px;
        margin-bottom: 40px;
    }
    .bread-crumbs .bread-crumbs-wrap {
        flex-direction: column;
    }
    .bread-crumbs-list {
        margin-left: -40px;
    }
    .products-sorting {
        margin-bottom: 32px;
    }
    .products-sorting-details {
        padding-top: 0px;
    }
    .products-sorting-criterias {
        top: 5px;
    }
    .products-sorting-filter h3 {
        display: none;
    }
    .products-sorting-filter img {
        width: 37px;
    }
    .products-filter-drop-down {
        margin-right: 0px;
        font-size: 12px;
        line-height: 14px;
    }
    .products-sorting-checkbox-summary {
        font-size: 12px;
        line-height: 14px;
    }
    .products-item {
        margin-right: 0px;
        &:nth-child(3n) {
            margin-right: 0px;
        }
    }
    .product-photos {
        position: relative;
        &-back {
            position: absolute;
            top: 40%;
            left: 0;
        }
        &-ahead {
            position: absolute;
            top: 40%;
            right: 0;
        }
    }
    .product-photos img {
        width: 374px;
        height: 454px;
        margin-left: auto;
        margin-right: auto;
    }
    .products-margin-bottom {
        margin-bottom: 64px;
    }
    .product-info-paragraph {
        max-width: 326px;
    }
    .cart {
        margin-bottom: 96px;
        &-product {
            width: 100%;
            height: 188px;
            box-shadow: 8px 8px 21px rgba(0, 0, 0, 0.13);
        }
        &-product-h2 {
            width: 130px;
            font-size: 16px;
            line-height: 19px;
        }
        &-product-paragraph {
            margin-top: 25px;
            font-size: 14px;
            line-height: 17px;
        }
        &-product button {
            top: 17px;
            right: 12px;
        }
        &-product button svg {
            width: 10px;
            height: 10px;
        }
        &-product-paragraph input {
            width: 23px;
            font-size: 10px;
            line-height: 12px;
        }
        &-product-info {
            padding-left: 17px;
        }
        &-products-list-buttons {
            margin-bottom: 48px;
            margin-top: 30px;
            justify-content: space-between;
        }
        &-products-list-button {
            width: 175px;
            padding-top: 8px;
            padding-bottom: 9px;
            font-size: 12px;
            line-height: 14px;
            text-transform: capitalize;
        }
        &-checkout {
            flex-direction: column;
        }
        &-shipping-address input {
            width: 100%;
        }
        &-shipping-address button {
            text-transform: capitalize;
        }
        &-total-price {
            width: 100%;
        }
    }
    .registration {
        flex-direction: column;
        &-loyalty {
            margin-top: 40px;
        }
    }
}